body {
    background-color: #d4d4d4;
}

main {
    margin-top: 26px;
    padding: 0;
    position: relative;
    section {
        padding: 0 9px 26px;
        
        .portrait {
            padding: 26px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            h2 {
                padding-bottom: 9px;
                font-size: 42px;
                text-align: center;
                font-weight: bold;
            }
            
            img {
                display: block;
                margin: 0 auto;
                width: 80%;
                max-width: 300px;
            }
            .fide-master {
                margin: 16px auto 0;
                width: 68px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 26px;
                font-weight: bold;
                background-color: #741c1c;
                color: #fff;
                border-radius: 15px;
            }
        }
        .description-container {
            a {
                color: #a67c00;
                text-decoration: none;
                transition: text-decoration .3s;
            }

            a:hover {
                text-decoration: underline;
            }
        }
}
}


@media (min-width: 1200px) {
    main {
        section {
            width: 80vw;
            margin: 0 auto;
            display: flex;

            .portrait {
                margin: 0 auto;
                img {
                    width: 500px;
                }
            }

            .description-container {
                margin: 0 auto;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 18px;
                }
            }
        }
    }
}